body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

#title {
    background-color: #ff4c68;
    color: white;
}

.container-fluid {
    padding: 3% 15%;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Monserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

/* Download Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
    width: 60%;
    transform: rotate(25deg);
}

/* Features */
#features {
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 4.5%;
}

.feature-box h3 {
    font-family: 'Monserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5%;
}

.feature-box p {
    color: #8f8f8f;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}
