[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
"colorgram.py" = "*"
prettytable = "*"
pyperclip = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
