<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuno Barreto</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="apple-touch-icon" sizes="57x57" href="static/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="static/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicons/favicon-16x16.png">
    <link rel="icon" href="static/favicons/favicon.ico">
    <link rel="manifest" href="static/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="static/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
    <div class="top-container">
        <img class="top-cloud" src="static/images/cloud.png" alt="cloud-img">
        <h1>I'm Nuno</h1>
        <h2>a <span class="pro">pro</span>grammer.</h2>
        <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud-img">
        <img src="static/images/mountain.png" alt="mountain-img">
    </div>
    
    <div class="middle-container">
        <div class="profile">
            <img class="nuno-img" src="static/images/nuno.png" alt="nuno-img">
            <h2>Hello.</h2>
            <p class="intro">Lorem ipsum dolor sit amet, vitae volutpat, dui conubia, dolor urna. Non auctor, montes nulla distinctio.</p>
        </div>
        <hr>
        <div class="skills">
            <h2>My Skills.</h2>
            <div class="skill-row">
                <img class="code-img" src="static/images/computer.png" alt="code-img">
                <h3>Lorem & Ipsum</h3>
                <p>Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
            </div>
            <div class="skill-row">
                <img class="chilli-img" src="static/images/chillies.png" alt="chilli-img">
                <h3>Lorem Ipsum Dolor</h3>
                <p>Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.</p>
            </div>
        </div>
        <hr>
        <div class="contact-me">
            <h2>Get In Touch</h2>
            <h3>Lorem ipsum dolor sit amet, non elit.</h3>
            <p class="contact-message">Lorem ipsum dolor sit amet, in quis, aenean amet. Phasellus sodales, tellus donec dui, ornare erat.</p>
            <a class="btn" href="mailto:nbarreto@gmail.com">CONTACT ME</a>
        </div>
    </div>
    
    <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/in/nunobarreto/">LinkedIn</a>
        <a class="footer-link" href="https://github.com/washimimizuku">Github</a>
        <a class="footer-link" href="https://twitter.com/nbarr">Twitter</a>
        <p class="copyright">© 2021 Nuno Barreto.</p>
    </div>
  
</body>
</html>